/* ==========================================================================
   Background images & styles
   ========================================================================== */

.teemo {
	background-image: url(../images/bg-teemo.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
}   